body {
  background-color: #000;
  color: #FFF;
}

header {
  text-align: center;
  margin-bottom: 50px;
}

.blue {
  color: #00EEEE;
}

.red {
  color: #FF4C4C;
}

.green {
  color: #0F0;
}

.yellow {
  color: #FF0;
}

.orange {
  color: #FF5721;
}

li {
  margin: 0 0 10px 0;
}

#table_of_contents li {
  margin: 0;
}

#table_of_contents a {
  color: #FF5721;
}
